
* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

#container {

}

#startBtn {
	margin-left: 15px;
}

#points {
	position: fixed;
	width: 100px;
	right: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	background-color: #00cd00;
	padding-left: 10px;
	margin-top: 10px;
}

#points::before {
	content: 'Pts: ';
}

.flagContainer {
	display: grid;
	width: 70%;
	grid-template-columns: 20% 40% 30% 10%;
	margin-bottom: 5px;
	border: solid 1px #000;
	background-color: #DDF;
	padding: 2px;
	box-shadow: 2px 2px 3px #336;
}

.flag {
	height: 80px;
	width: 120px;
	display: inline-grid;
}

.flagInput {
	height: 35px;
	width: 100%;
	font-size: 24px;
	margin-top: 24.5px;
	display: inline-grid;
}

.correct {
	width: 100px;
	height: 39px;
	margin-top: 24.5px;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	background-color: #00cd00;
	border: none;
}

.wrong {
	width: contain;
	padding: 1px;
	height: 39px;
	margin-top: 24.5px;
	color: #FFF;
	font-weight: bold;
	font-size: auto;
	background-color: #cd0000;
	border: none;
}

.confirmBtn {
	width: 100px;
	padding: 1px;
	height: 39px;
	margin-top: 24.5px;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	background-color: #00cd00;
	border: none;
	cursor: pointer;
	transition: 0.2 ease-in-out;
}

.confirmBtn:hover {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #00cd00;
  }
  50% {
    background-color: #006700;
  }

}